<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644605227313-lqvi1npee040o05c2nkmg0f4hhpfanr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644605227313-lqvi1npee040o05c2nkmg0f4hhpfanr5</string>
	<key>API_KEY</key>
	<string>AIzaSyBIw3fcZ89F-wS69fiekBu4dh0nn_Sn3ug</string>
	<key>GCM_SENDER_ID</key>
	<string>644605227313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safehouse.bodyguard</string>
	<key>PROJECT_ID</key>
	<string>bodyguard-dev-16e7e</string>
	<key>STORAGE_BUCKET</key>
	<string>bodyguard-dev-16e7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644605227313:ios:f040c83975a655b3e88010</string>
	<key>DATABASE_URL</key>
	<string>https://bodyguard-dev-16e7e-default-rtdb.firebaseio.com</string>
</dict>
</plist>
